ul {
text-align: center;
}


h4.style
{
    border-color: #fff600;
    width: 150px;
    height: 15px;
    border-width: 8px;
    border-style: solid;
    background-color: #aa99bb;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    text-align: center;

}

li
{

        background-color: #bf90e5;
        width: auto;
        border-style: dotted;
        border-color: #ff212f;
        border-width: 2px;

        text-align: center;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        margin: 5px;
        padding: 2px;




}

body {
    background-color: #74b529;
}

div {
      background-color: #ded7e5;
      border-color: #afd6b2;
      width: 525px;
      height: 200px;
      border-width: 85px;
      border-style: solid;

      padding: 5px;
      margin-left: auto;
      margin-right: auto;

      text-align: center;
      text-shadow: 1px 1px #000000;
      font-style: italic;
}

h2.style{
          text-align: center
}
span.type{
          color: #0021ff;
          text-decoration: underline;
          text-decoration-color: #0021ff;

}

div:hover{
            border-color: red;
}
span:hover{
            color: #ff6e00;
            text-decoration: underline;
            text-decoration-color: #ff6e00;
}
